body {
}
div {
    vertical-align: bottom;
    text-align: center;

}

    div label {
        margin-top:20px;
    }

    div input {
        height: 35px;
        width: 450px;
        border: 0;
        border-bottom: solid 1px #422b2b;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

.clsButton {
    border: solid 1px #422b2b;
    width: 100px;
}